body {
	font-family: source sans pro;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	border: 20px #bdc3c7 solid;
	padding: 20px;
}

p:nth-of-type(1) {
	border-left: 5px #bdc3c7 solid;
	padding-left: 5px;
}

h4 {
	text-transform: uppercase;
	color: #3498db;
	letter-spacing: 0.2rem;
	margin-top: 5px;
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 400;
}

h2 {
	color: #2c3e50;
	text-transform: capitalize;
	margin-top: 15px;
	font-weight: 700;
	font-size: 2.0rem;
}

hr {
	color: red;
	height: 2px;
	border: 0;
	background: #f0f0f0;
	margin-bottom: 20px;
}